[submodule "project1/firmware/project/components/libesp"]
	path = project1/firmware/project/components/libesp
	url = https://github.com/cmdc0de/libesp.git
[submodule "project1/firmware/project/components/esp-etl/etl"]
	path = project1/firmware/project/components/esp-etl/etl
	url = https://github.com/cmdc0de/etl.git
